
* {
  margin: 8px 8px 8px 8px;
  padding: 8px 8px 8px 8px;
  //   background-color: yellow;
  box-sizing: border-box;
}

ul {
  list-style-position: inside;
}

li {
  margin: 2px;
  padding: 2px;
}

#top {
     background-color: #eeeeee;
     width : 970px;
     padding-right:32px;
}

#top div {
     border-radius: 25px;
}

#header {
	background-color: #dddddd;
}

#center {
	vertical-align: top;
	height: auto;
	margin: 0px;
	padding: 0px;
	display: block;
}

#nav {
	background-color: #dddddd;
	display: inline-block;
	width: 260px;
	height: auto;
	vertical-align: top;
	margin-right:0px;
	padding-right:0px;
}

#center #nav ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#center #nav {
     padding-right:0px;
     margin-right:0px;
}

#center #nav ul {
     padding-right:0px;
     margin-right:0px;
}

#center #nav li a {
     text-decoration: none;
     margin: 0px;
     padding: 0px;
}

#center #nav ul li ul li {
     margin: 0px;
     padding: 0px;
}


#center #nav li a li a {
     text-decoration: none;
     margin: 0px;
     padding: 0px;
}

#center #nav p {
     margin-left: 0px;
     padding-left: 0px;
     margin-right: 0px;
     padding-right: 0px;
     margin-bottom: 0px;
     padding-bottom: 0px;
}

#center #content {
	background-color: #aaaaaa;
	display: inline-block;
	width: 640px;
	height: auto;
	vertical-align: top;
	margin-right:0px;
	padding-right:0px;
	font-size: 0.95em;
}

#center #content ul {
	 margin-left: 48px;
	 margin-top: 0px;
	 padding-left:8px;
	 padding-top: 0px;
 	 list-style-position: outside;
}

#center #content ul li {
	 margin-left: 0px;
	 margin-top: 0px;
	 margin-bottom: 16px;
}

#center #content ul li a {
	 margin: 0px;
	 padding: 0px;
	 margin-left:0px;
	 font-size:1.1em;
}

#top #footer {
	background-color: #dddddd;
}
